<div class="wrap" id="qqencode-mode">
    <div class="vertical-list-item">
        <h2 class="label">解密消息显示模式</h2>
        <div class="ops-selects">
            <div class="q-pulldown-menu small-size" data-id="plugin_type_1">
                <div class="q-pulldown-menu-button">
                    <input class="content" type="text" readonly spellcheck="false">
                    <svg class="icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 6.0001L8.00004 10L4 6" stroke="currentColor" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="q-context-menu hidden">
                    <ul class="q-pulldown-menu-list small-size">
                        <li class="q-pulldown-menu-list-item" data-value="0">
                            <span class="content">后拼接</span>
                            <span class="icon">
                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 7L6.00001 11L14 3" stroke="currentColor" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                        </li>
                        <li class="q-pulldown-menu-list-item" data-value="1">
                            <span class="content">前拼接</span>
                            <span class="icon">
                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 7L6.00001 11L14 3" stroke="currentColor" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                        </li>
                        <li class="q-pulldown-menu-list-item" data-value="2">
                            <span class="content">覆盖</span>
                            <span class="icon">
                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 7L6.00001 11L14 3" stroke="currentColor" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                        </li>
                        <!-- <li class="q-pulldown-menu-list-item" data-value="3">
                            <span class="content">更多...</span>
                            <span class="icon">
                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 7L6.00001 11L14 3" stroke="currentColor" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item">
        <h2>密钥</h2>
        <input class="path-input text_color" type="text" spellcheck="false" id="encodeKey">
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item">
        <span></span>
        <div class="ops-btns">
            <button class="q-button q-button--secondary q-button--small create">生成密钥</button>
            <button class="q-button q-button--secondary q-button--small reset">恢复默认</button>
            <button class="q-button q-button--secondary q-button--small apply">应用</button>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="vertical-list-item">
        <h2>自动解密消息</h2>
        <div class="switchBackgroundImage q-switch is-active" id="autoDecode">
            <span class="q-switch__handle"></span>
        </div>
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item">
        <h2>解密错误显示原文</h2>
        <div class="switchBackgroundImage q-switch is-active" id="errorDisplayRaw">
            <span class="q-switch__handle"></span>
        </div>
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item">
        <h2>显示加密发送按钮</h2>
        <div class="switchBackgroundImage q-switch is-active" id="autoEncode">
            <span class="q-switch__handle"></span>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="vertical-list-item">
        <h2>启用LOG错误日志</h2>
        <div class="switchBackgroundImage q-switch is-active" id="openLog">
            <span class="q-switch__handle"></span>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="vertical-list-item">
        <div>
            <h2 class="qqencode-mode-version">当前版本:0.0.0</h2>
            <span class="secondary-text qqencode-mode-new-version hidden">发现新版本版本:9.9.9</span>
        </div>
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item">
        <div>
            <h2>Github - GangPeter</h2>
        </div>
        <button class="q-button q-button--secondary q-button--small qqencode-mode-github">前往</button>
    </div>
</div>